.spacer {
    height: 100px;
    width: 100%;
    background-color: transparent;
}

//****************** Testimonials ******************

.fdb-block {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    padding: 7.5rem 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #bf39ad;
    border-bottom: 1px solid $light;
}

//****************** TEAM ******************

.team {
    position: relative;
    display: inline-block;

    .img-team {
        width: 260px;
        overflow: hidden;
        // filter: grayscale(100%);
        // -webkit-filter: grayscale(100%);
        box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.15);
        transition: 350ms ease all;

        // &:hover {
        //     box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
        //     filter: grayscale(0%);
        //     -webkit-filter: grayscale(0%);
        // }
    }

    .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;

        &:hover {
            display: inline;
        }
    }

    h5 {
        padding: 35px 0 15px 0;
        font-weight: 500;
    }

    p {
        color: #999;
    }
}

.team {
    width: 25%;
    display: grid;
    grid-template-rows: 30vh 20%;

    .image-1 {
        width: 100%;
        height: 100%;
        background-image: url("../images/people/rauha.svg");
        background-repeat: no-repeat;
        background-size: 90% auto;
        background-position: center;
        transition: all 0.5s ease-out;

        &:hover {
            background-image: url("../images/people/pexels-tarzine-jackson-773371-color.webp");
            transition: all 0.5s ease-out;
        }
    }

    .image-2 {
        width: 100%;
        background-image: url("../images/people/william.svg");
        background-repeat: no-repeat;
        background-size: 90% auto;
        background-position: center;
        transition: all 0.5s ease-out;

        &:hover {
            background-image: url("../images/people/pexels-linkedin-sales-navigator-2182970-color.webp");
            transition: all 0.5s ease-out;
        }
    }

    .image-3 {
        width: 100%;
        background-image: url("../images/people/sophie.svg");
        background-repeat: no-repeat;
        background-size: 90% auto;
        background-position: center;
        transition: all 0.5s ease-out;

        &:hover {
            background-image: url("../images/people/pexels-andrea-piacquadio-774909-color.webp");
            transition: all 0.5s ease-out;
        }
    }

    .image-4 {
        width: 100%;
        background-image: url("../images/people/inza.svg");
        background-repeat: no-repeat;
        background-size: 90% auto;
        background-position: center;
        transition: all 0.5s ease-out;

        &:hover {
            background-image: url("../images/people/pexels-vinicius-wiesehofer-1130626-color.webp");
            transition: all 0.5s ease-out;
        }
    }

    .image-5 {
        width: 100%;
        background-image: url("../images/people/ruby.svg");
        background-repeat: no-repeat;
        background-size: 90% auto;
        background-position: center;
        transition: all 0.5s ease-out;

        &:hover {
            background-image: url("../images/people/pexels-ebium-james-4605219-color.webp");
            transition: all 0.5s ease-out;
        }
    }

    .image-6 {
        width: 100%;
        background-image: url("../images/people/kathrine.svg");
        background-repeat: no-repeat;
        background-size: 90% auto;
        background-position: center;
        transition: all 0.5s ease-out;

        &:hover {
            background-image: url("../images/people/pexels-mikhail-nilov-8871884-color.webp");
            transition: all 0.5s ease-out;
        }
    }

    .image-7 {
        width: 100%;
        background-image: url("../images/people/ivan.svg");
        background-repeat: no-repeat;
        background-size: 90% auto;
        background-position: center;
        transition: all 0.5s ease-out;

        &:hover {
            background-image: url("../images/people/pexels-pixabay-220453-color.webp");
            transition: all 0.5s ease-out;
        }
    }

    .image-8 {
        width: 100%;
        background-image: url("../images/people/estevan.svg");
        background-repeat: no-repeat;
        background-size: 90% auto;
        background-position: center;
        transition: all 0.5s ease-out;

        &:hover {
            background-image: url("../images/people/pexels-ali-madad-sakhirani-1211604-color.webp");
            transition: all 0.5s ease-out;
        }
    }

    .position-title {
        grid-row: 2 / 3;
    }
}

//****************** LOGO CLOUD ******************

.logos {
    .logo-item {
        width: 16%;
        max-width: 180px;
        min-width: 120px;
        opacity: 0.4;

        &:hover {
            opacity: 1;
            filter: drop-shadow(1px 1px 1.5px rgba(0, 0, 0, 0.4));
            transition: all 0.4s ease-in-out;
            -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
        }
    }
}

@media (max-width: 768px) {
    .logos .logo-item {
        margin-bottom: 1.5rem;
    }
}

//****************** SERVICES ******************

.services-container {
    background-image: url("../images/bg/banana-bg.svg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -10;

    // &::before {
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     display: block;
    //     z-index: -1;
    //     left: 0;
    //     top: 0;
    //     content: "";
    //     background-color: rgba(0, 0, 0, 0.6);
    // }

    h4 {
        color: $header-color-services;
        font-weight: 500;
    }

    .media-body {
        background-color: rgba(255, 255, 255, 0.806);
        padding: 10px;
        border-radius: 10px;
        filter: drop-shadow(5px 5px 0px black);
    }
}

.icon-box {
    position: relative;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    background-color: #ffdd00;
    border: 2px solid #00e5ff;
    filter: drop-shadow(5px 5px 0px black);
    margin: 1rem;

    .border-box {
        border: 1px solid #04c4d9;
        background-color: transparent !important;
    }

    .icon-box-inner {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        padding: 2.25rem;

        .small {
            padding: 1.25rem;
        }

        .small-xs {
            padding: 1rem;
        }
    }

    .icon {
        width: 50px;
        height: 50px;
        fill: #04c4d9;
    }
}

//****************** ABOUT US ******************

.accordion-item {
    border: none;
}

.font-weight-bold {
    font-weight: 700 !important;
}
